{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Add Property {% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron" style="">
        <h3 style="text-align: center;">List Your Property here......</h3>
        <form method="post" enctype="multipart/form-data"> <!-- Added enctype for file uploads -->
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block">ADD</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block">RESET</button>
        </form>
    </div>
</div>
{% endblock %}

